[Desktop Entry]

Type=Application
Name=Buckle (libinput)
Comment=Bucklespring keyboard sound
Exec=buckle-libinput -f
Icon=input-keyboard
Keywords=keyboard;sound;typewriter;nostalgia;
StartupNotify=false
Terminal=false
Hidden=false

